[package]
name = "dims_macro"
version = "0.1.0"
authors = ["William <antagonisticapple@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
paste = "1.0"

[dev-dependencies]
rand = "0.7"

dims_derive = {path = "../dims_derive"}
[dependencies.dims_core]
path = "../dims_core"
default-features = false

[features]
default = ["str"]
# Pass each of these along to core
no_std = ["dims_core/no_std"]
str = ["dims_core/str"]
f64 = ["dims_core/f64"]
